# Task 1: Data Preparation

You will start by loading the CSV data from the file (using appropriate pandas functions) and checking whether the loaded data is equivalent to the data in the source CSV file.

Then, you need to clean the data by using the knowledge we taught in the lectures. You need to deal with all the potential issues/errors in the data appropriately.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Load the data from the file NBA_players_stats.csv using pandas library.
data = pd.read_csv('NBA_players_stats.csv', header=0)
data.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,35,2,491,84,145,...,0.543,46,95,141,20,15,19,32,58,212
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,...,NaN,0,3,3,2,0,0,0,1,20000
2,3,Steven Adams,C,27,NOP,33,33,918,115,187,...,0.443,133,161,294,69,29,20,50,63,265
3,4,Bam Adebayo,C,23,MIA,33,33,1119,236,419,...,0.847,72,241,313,179,29,34,98,80,634
4,5,LaMarcus Aldridge,C,35,SAS,21,18,544,115,248,...,0.838,17,77,94,36,8,18,20,36,28800

In [14]:
# Clean the data
data['Pos'] = data['Pos'].str.upper()
data['Pos'] = data['Pos'].str.strip()
def validate_position(position_list):
    valid_positions = ["PF", "PG", "C", "SG", "SF", "PG-SG", "SF-PF"]
    for i in range(len(position_list)):
        pos = position_list[i]
        #print(pos)
        if pos not in valid_positions:
            print("Invalid Position found. Check entry : " + str(i))
            print(pos)
pos_list = data['Pos']
validate_position(pos_list)

min_age = 19 # No NBA player can

Invalid Position found. Check entry : 38
SGA
Invalid Position found. Check entry : 60
SF.
Invalid Position found. Check entry : 66
PFA

In [ ]:
"""
Make sure that you write the final cleaned dataframe object into a csv file
XXXXX.to_csv('cleaned_NBA_players_stats.csv', index=False)
Please replace XXXXX with your dataframe variable.
"""

# Task 2: Data Exploration

## Task 2.1 
Explore the players' total points: Please analyze the composition of the total points of the top five players with the most points.

In [ ]:
# Code goes after this line by adding cells

## Task 2.2 
Assuming that the data collector makes an entry error when collecting data, it can be ensured that the error occurred in the 3P, 3PA and 3P% columns, but it is not sure which player's information the error lies on. Please try to explore the error by visualization to identify how many errors there are and try to fix it.

In [ ]:
# Code goes after this line by adding cells

## Task 2.3 
Please analyze the relationship between the player's total points and the rest features (columns). Please use at least three other columns.

In [ ]:
# Code goes after this line by adding cells